h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;

}

.info-content{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 100;
    position: relative;
    justify-content: center;
    text-align: center;
}

.info-div{
    position: relative;
    top: -4em;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

