.navbar-div{
    position: relative;
    top: -6em;
    left: 1em;
}

.navbar-list{
    list-style-type: none;
}

.list-item{
    display:inline-block;
    color: #4F4F4F;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    

}

.list-item:after{
    display:block;
    content: '';
    border-bottom: solid 3px #4F4F4F;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.list-item:hover:after{
    transform: scaleX(1); 
}

.wedding-ring-icon{
    height: 2em;
    width: auto;
    margin-left: 15px;
    
}

.list-item-icon{
    display:inline-block;
    position: relative;
    top: 4px;
}

li{
    margin-left: 3em;
}